*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  color: white;
  font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.login{
  background: rgb(3, 0, 31);

}

.login_bola {
  background: rgb(28, 30, 58, 1);

}
/* styles.css */
.dropdown {
  display: inline-block;
  border-radius: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background-color: #b6ac1b;
  border: radius 100px;;
}

.App {
  min-height: 100vh;
  max-height: 90vh;
  display: flex;
  background: rgb(3, 0, 31);
  overflow: hidden;
}

.menucostado{
  flex: 2;
  border-right: 1px solid rgb(100, 100, 100);
  

}

.logo{
  object-fit: cover;
  width: 8rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.marca{
  font-size: 2rem;
}

.arribaCostado{
  
  
  padding: 2.5rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 80%;
}

.arribaCostadoEncima{
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.arribaCostadoDebajo{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(75vh - 20rem);
}

.botonAgg{
  height: 2rem;
  padding-right: 1rem;
}

.botonMedio{
  background: #5A4BFF;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}


.query{
  display: flex;
  align-items: center;
  background: transparent;
  color: rgb(222, 222, 222, 1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgb(98, 98, 98, 1);
  font-size: 1.5rem;


}

.query>img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.abajoCostado{
  padding: 2rem;
}

.listaItems{
  margin: 0.75rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.listaItemsImg{
  margin: 1rem;
  padding-right: 1rem;
}

.listaItems:nth-child(1)>.listaItemsImg {
  margin-right: 0.8rem;
}

.principal{
  flex: 9;
  min-height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0;

}

.chats{
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 20rem);

}

.chat{
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatImg{
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot{
  background: rgba(28, 30, 58, 1);
  width: fit-content;
  border-radius: 0.5rem;

}

.chatFooter{
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background: rgb(28, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 68rem;
}


.inp>input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.inp>input, .envio {
  background: transparent;
  border: none;
}

.chatFooter>p{
  margin: 2rem 0;
  margin-bottom: 0.5rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
